<!--agency content start-->
<section class="agency agency-content about-bg">
    <h3 class="text-as-shadow">Quem <br/> somos</h3>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 offset-xl-3 col-md-9 offset-md-3">
                <div class="agency-header-center-container">
                    <div class="borders"></div>
                    <div class="agency-head">
                        <h3 class="agency-head-text">Estamos aqui <span class="block-span">para criar sua idéia</span></h3>
                    </div>
                </div>
                <p class="agency-para">
                    A CABIR é uma Agência de Design e Desenvolvimento Web que a partir da análise e compreensão da necessidade, sugere e elabora soluções utilizando o design e através do branding, define a estratégia de posicionamento e a gestão da marca e do negócio de nossos clientes na Web.
                </p>
                <p class="agency-para">
                    Desde 2011 oferecemos soluções simples e inteligentes para que nossos clientes obtenham resultados efetivos na internet. Utilizamos as melhores técnicas de web design priorizando a usabilidade nos websites, aplicações web, a interação nos sistemas e a instintividade nos web mobile que desenvolvemos. Priorizamos a qualidade nos produtos que desenvolvemos e serviços que prestamos, oferecendo atendimento personalizado através de Follow Up constante e cumprindo os prazos acertados. Desenvolvemos projetos de marketing online e tecnologia por meio de uma metodologia que ao longo do tempo tem se mostrado bastante eficiente. Temos uma equipe altamente especializada que desenvolve, implementa e também dá manutenção em todas soluções implantadas, o que faz com que nossos clientes não tenha que se preocupar em nenhuma fase do projeto, inclusive pós projeto.
                </p>
            </div>
        </div>
    </div>
    <div class="side-img  set-abs left-0 top-0" [@fadeInLeft]="fadeInLeft">
        <div class="plus-container plus-container9">
            <div class="plus white">
            </div>
        </div>
        <div class="plus-container plus-container10">
            <div class="plus plus-medium white">
            </div>
        </div>
        <div class="plus-container plus-container11">
            <div class="plus plus plus-small white">
            </div>
        </div>
        <img src="assets/images/agency/about-us/image.png" alt="" class="img-fluid about-img">
    </div>
    <img src="assets/images/agency/agency-abs-img.png" alt="" class="img-fluid blue-img">
</section>
<!--agency content end-->
