<!--service section start-->
<section class="agency format service-bg" id="contato" [ngStyle]="{'background-image': 'url(assets/images/agency/service/services-backgrondpng.png)'}">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-lg-1">
                <div class="center-text">
                    <div class="format-container">
                        <h6 class="borders-before text-uppercase">
                            <span class="">Contato</span>
                        </h6>
                        <div class="format-head-text">
                            <h2 class="about-font-header">Faça um orçamento sem <span class="block-span">compromisso</span></h2>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="row">
                    <a (click)="whats()">
                        <img class="img-fluid" src="assets/images/agency/bt-whats2.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--service section end-->
